---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/public/project_01/*.{jpeg,jpg,png,gif}"
);
const paths = [
  "/public/project_01/01.jpg",
  "/public/project_01/02.jpg",
  "/public/project_01/03.jpg",
  "/public/project_01/04.jpg",
  "/public/project_01/05.jpg",
]
const altText = "...";
---

<section>
  <div class="container">
    <div class="image active">
      <p class="active">Cherry blossom tree</p>
      <Image src={images[paths[0]]()} alt={altText} />
    </div>
    <div class="image">
      <p>Camp fire</p>
      <Image src={images[paths[1]]()} alt={altText} />
    </div>
    <div class="image">
      <p>Red mountains</p>
      <Image src={images[paths[2]]()} alt={altText} />
    </div>
    <div class="image">
      <p>Gray temple</p>
      <Image src={images[paths[3]]()} alt={altText} />
    </div>
    <div class="image">
      <p>Snowy mountain</p>
      <Image src={images[paths[4]]()} alt={altText} />
    </div>
  </div>
  <script>
    const images = document.getElementsByClassName("image");
    const spreadImages = [...images];

    spreadImages.forEach((item) =>
      item.addEventListener("click", () => {
        removePreviousActive();
        item.classList.add("active");
        showText(item);
      })
    );

    function removePreviousActive() {
      spreadImages.forEach((item) => item.classList.remove("active"));
    }

    function showText(clickedItem) {
      spreadImages.forEach((item) => {
        const paragraph = item.querySelector("p");
        if (item === clickedItem) {
          paragraph.classList.add("active");
        } else {
          paragraph.classList.remove("active");
        }
      });
    }
  </script>
</section>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&family=Ubuntu:wght@700&display=swap");

  section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    overflow: hidden;
    font-family: "Lato", sans-serif;
    padding: 10px;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 15px;
    width: 90vw;
  }

  .image {
    width: 80px;
    height: 80%;
    flex: 1;
    transition: all 1s ease-in-out;
    position: relative;
  }

  .image:hover {
    cursor: pointer;
  }
  .active {
    flex: 9;
  }

  .image p {
    position: absolute;
    display: block;
    bottom: 1rem;
    left: 2rem;
    width: 100px;
    color: #fff;
    font-size: xx-large;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .image p.active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  .image img {
    width: 100%;
    height: 100%;
    border-radius: 80px;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    object-fit: cover;
  }

  @media (max-width: 480px) {
    .image:nth-of-type(4),
    .image:nth-of-type(5) {
      display: none;
    }
  }
</style>
